
* {
    padding: 2px;
    margin: 0;
    box-sizing: border-box;
    /* background-color: azure; */
}


.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #df3584;
    color: #e9f1fa;
    text-align: center;
    height: 100vh;
    width: 100%;
    font-size: 10em;
    font-weight: bold;
    font-family: "Twinkle Star", cursive;
}

.centered-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
  
.centered-image img {
    width: 20em;
    height: 20em;
}

.centered-image p {
    text-align: center;
    margin-top: 20px; 
    font-family: "Poppins",sans-serif;
    font-size: 1.2em;
}

.skills-section {
    text-align: center;
    height: 100vh;
}

.skills-section h2 {
    font-size: 5em;
    font-family: "Nunito", sans-serif;
}

.skill-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.skill-images img {
    width: 100px;
    height: auto;
    margin: 10px;
}


.footer {
    background-color: #df3584;
}

.social-links {
    text-align: center;
    padding: 15px;
}

.social-links .fa {
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #E7EAE9;
    margin: 40px 5px 0;
    color: #E7EAE9;
    cursor: pointer;
    transition: .5s;
}

.social-links .fa:hover {
    background: #E7EAE9;
    color: #df3584;
    transform: translateY(-7px);
}

.social-links p {
    color: #E7EAE9;
    font-size: 1.5em;
    padding: 2em;
}
  